{{- define "sonic_theme_paper_mod/module/comments" -}}
{{ $commentCode := .settings.comment_code | trim }}
{{ if $commentCode }}
<!-- Comment Framework (from settings) -->
{{ $processedCode := $commentCode }}
{{ $processedCode = (replace $processedCode "{{ .post.FullPath }}" .post.FullPath) }}
{{ $processedCode = (replace $processedCode "{{ .post.Title }}" .post.Title) }}
{{ $processedCode = (replace $processedCode "{{ .settings.header_title }}" .settings.header_title) }}
{{ noescape $processedCode }}
{{ end }}
{{- end -}}
